*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    margin: 0%;
    background-color: black;
}

.hero{
    width: 100%;
    height: 100vh;
    background-color: lightblue;
    background-image: url("assets/banner.jpg");
}

header{
    width: 100%;
    height: 20vh;
    clear: both;
    display: table;
}

.content{
    width: 100%;
    height: 80vh;
    text-align: center;
    padding: 50px;
    color: white;
}

.logo{
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
    padding: 25px;
}

.logo img{
    width: 200px;
}

nav{
    width: 50%;
    height: 100%;
    float: left;
    padding: 25px;
    text-align: center;
}

nav button,
nav select{
    width: 150px;
    height: 50px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.content h1{
    font-size: 44px;
    font-weight: 900;
}

.content p{
    font-size: 24px;
    font-weight: 100;
}

.content input{
    width: 350px;
    height: 50px;
    font-size: 20px;
    background-color: transparent;
    color: white;
    padding: 10px;
}

.content button{
    width: 200px;
    height: 50px;
    background-color: red;
    border: 1px solid white;
    font-size: 25px;
}

.trending,
.reasons,
.membership{
    width: 80%;
    margin: 40px auto;
    text-align: center;
    background-color: black;
    color: white;
    clear: both;
    display: table;
}

.trending h2,
.reasons h2,
.faq h2{
    text-align: left;
}

.trend,
.reason{
    width: 25%;
    padding: 10px;
    float: left;
}

.reason figure{
    border: 1px solid white;
    padding: 20px;
}

figure{
    margin: 0%;
}

figure img{
    width: 100%;
}

.faq{
    width: 80%;
    margin: 30px auto;
    text-align: center;
    color: white;
}

details{
    background-color: darkolivegreen;
    color: white;
    text-align: start;
    padding: 20px;
    border: 10px solid black;
}

summary{
    font-size: 20px;
    font-weight: 900;
}

.membership input{
    width: 350px;
    height: 50px;
    font-size: 20px;
    background-color: transparent;
    color: white;
    padding: 10px;
}

.membership button{
    width: 200px;
    height: 50px;
    background-color: red;
    border: 1px solid white;
    font-size: 25px;
}

.footer{
    width: 80%;
    margin: auto;
    color: white;
}

.footlist{
    width: 25%;
    padding: 10px;
    float: left;
}

.footer p{
    margin: 50px auto;
}

ul li{
    width: 100%;
    display: inline-block;
    padding: 15px 20px;
}

.lang{
    text-align: start;
    margin: 40px auto;
    display: block;
    clear: both;
}