*{
    box-sizing: border-box;
}

.courses, .features{
    width: 100%;
    margin: auto;
    text-align: center;
    clear: both;
    display: table;
    padding: 50px;
}

.course, .feature{
    width: 25%;
    float: left;
    padding: 20px;
    background-color: darkblue;
    color: white;
}

.courses{
    background-color: lightblue;
}

.features{
    background-color: coral;
}